{% extends 'base.html' %}

{% block content %}
<div class="container my-3">
    <div class="green-title">
            <h5 class="my-3 border-bottom pb-2" align="center">탄소포인트</h5>
    </div>
    <div>
        <div class="green-list">
            {% for Carbonpoint in carbon_list %}
            <td>{{ Carbonpoint.pointtype }}<td>
            <td>{{ Carbonpoint.cpoint }}P</td>
            <form action="{% url 'point:add' Carbonpoint.id %}" method="post">
                {{ addcart }}
                {% csrf_token %}
                <input type="submit" class="ben btn-primary ben-sm" value="포인트 등록하기">
            </form>
            <p></p>
            {% endfor %}
            <form action = "{% url 'point:usercarbon' %}" method="post">
            <td>탄소포인트 </td>
            {{ carboncart }}
            {% csrf_token %}
            <td><a href = "https://cpoint.or.kr/user/info/calPoint.do" class = 'btn btn-sm btn-outline-secondary'>조회하기</a></td>
<!--            <td><a href="#">삭제하기</a></td>-->
            <input type="submit" class="ben btn-primary ben-sm" value="저장하기"></form>

            <P></P>
            <a href = "{% url 'point:detail' %}" class = 'btn btn-sm btn-outline-secondary'>포인트바구니바로가기</a>
        </div>
</div>
{% endblock %}

