{% extends "base.html" %}
{% load static %}

{% block title %}
    Shopping cart
{% endblock %}

{% block content %}
<table class="table table-striped">
    <div class="green-title">
        <h5 class="my-3 border-bottom pb-2" align="center">탄소포인트</h5>
    </div>
    <thead>
        <tr>
            <th scope="col">종류</th>
            <th scope="col">수량</th>
            <th scope="col"></th>
            <th scope="col">포인트량</th>
            <th scope="col">총포인트량</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <div>
        {% for item in cart %}
            {% with Carbonpoint=item.carbonpoint %}
            <tr>
                <th scope="col" bgcolor="green">{{ Carbonpoint.pointtype }}</th>
                <td scope="col">{{ item.quantity }}</td>
                <td scope="col">{{ item.is_update }}</td>
                <td class="num">{{ item.cpoint }}P</td>
                <th class="num">{{ item.total_cpoint }}P</th>
                <td><a href="{% url 'point:remove' Carbonpoint.id %}" >삭제하기</a></td>
            </tr>
            {% endwith %}
        {% endfor %}
        </div>
    </tbody>
</table>
<form action = "{% url 'point:saveusercarbon' %}" method="post">
    {% csrf_token %}
    <table class="table table-striped">
        <tbody>
        <tr class="total">
            <th scope="col">Total</th>
            <td scope="col"></td>
            <td scope="col"></td>
            <td scope="col"></td>
            <th class="num">{{ cart.get_total_point }}P</th>
        </tr>
        </tbody>
    </table>
<input type="submit" class="btn btn-success" value="저장하기"></form>
    <p class="text-right">
        <a href="{% url 'point:carbonpage' %}" class="btn btn-info">포인트 추가하기</a>
    </p>
</form>
{% endblock %}