{% extends "base.html" %}
{% load static %}

{% block title %}
    Shopping cart
{% endblock %}

{% block content %}
<table class="table table-striped">
    <div class="green-title">
        <h5 class="my-3 border-bottom pb-2" align="center">그린포인트</h5>
    </div>
    <thead>
        <tr>
            <th scope="col">종류</th>
            <th scope="col">수량</th>
            <th scope="col"></th>
            <th scope="col">포인트량</th>
            <th scope="col">총포인트량</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <div>
        {% for gitem in cart %}
            {% with Greenpoint=gitem.greenpoint %}
            <tr>
                <th scope="col">{{ Greenpoint.pointtype }}</th>
                <td scope="col">{{ gitem.quantity_form.quantity }}</td>
                <td scope="col">{{ gitem.quantity_form.is_update }}</td>
                <td class="num">{{ gitem.gpoint }}P</td>
                <th class="num">{{ gitem.total_gpoint }}P</th>
                <td><a href="{% url 'point:removegreen' Greenpoint.id %}">삭제하기</a></td>
            </tr>
            {% endwith %}
        {% endfor %}
        </div>
    </tbody>
</table>
<form action = "{% url 'point:saveusergreen' %}" method="post">
    {% csrf_token %}
    <table class="table table-striped">
        <tbody>
        <tr class="total">
            <th scope="col">Total</th>
            <td scope="col"></td>
            <td scope="col"></td>
            <td scope="col"></td>
            <td class="num">{{ cart.get_total_gpoint }}P</td>
        </tr>
        </tbody>
    </table>
<input type="submit" class="btn btn-success" value="저장하기">
    <a href="{% url 'point:greenpage' %}" class="btn btn-info">포인트 추가하기</a>
</form>
    <p class="text-right">


    </p>
{% endblock %}