{% extends "base.html" %}
{% load static %}

{% block title %}
    Shopping cart
{% endblock %}

{% block content %}
<table class="table table-striped">
    <tbody>
        <div>그린 포인트</div>
        <div>
        {% for gitem in cart %}
            {% with Greenpoint=gitem.greenpoint %}
            <tr>
                <td>{{ Greenpoint.pointtype }}</td>
                <td>{{ gitem.quantity_form.quantity }}</td>
                <td>{{ gitem.quantity_form.is_update }}</td>

                <td><a href="{% url 'point:removegreen' Greenpoint.id %}">삭제하기</a></td>
                <td class="num">{{ gitem.gpoint }}P</td>
                <td class="num">{{ gitem.total_gpoint }}P</td>
            </tr>
            {% endwith %}
        {% endfor %}
        </div>
    </tbody>
</table>
<form action = "{% url 'point:saveusergreen' %}" method="post">
    {% csrf_token %}
    <table class="table table-striped">
        <tbody>
        <tr class="total">
            <td>Total</td>
            <td colspan="4"></td>
            <td class="num">{{ cart.get_total_gpoint }}P</td>
        </tr>
        </tbody>
    </table>
<input type="submit" class="ben btn-primary ben-sm" value="저장하기기"></form>
    <p class="text-right">
        <a href="{% url 'point:greenpage' %}" class="btn btn-secondary">포인트 추가하기</a>

    </p>
{% endblock %}