{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <div>
        <div class="mypage-title">
                <h5 class="my-3 border-bottom pb-2" align="center">마이페이지</h5>
        </div>
    </div>
    <div class ="row">
        <div class="col-xl-7 col-lg-8">
             <div id="wrapper chart">
                <div id="content-wrapper chart" class="d-flex flex-column">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary text-success">My Chart</h6>
                        </div>
                        <div class = "card-body">
<!--                        <img src = "data:image/png;base64,{{ data }}" alt="" height="100%", width="100%">-->
                            <canvas id="mypage-chart" data-url="{% url 'mypage:mypage-chart' %}"></canvas>
                        </div>
                        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
                        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
                        <script>
                            $(function () {
                              var $mypageChart= $("#mypage-chart");
                              $.ajax({
                                url: $mypageChart.data("url"),
                                success: function (data) {

                                  var ctx = $mypageChart[0].getContext("2d");

                                  new Chart(ctx, {
                                    type: 'bar',
                                    data: {
                                      labels: ['탄소포인트', '그린포인트', '자동차탄소포인트'],
                                      datasets: [{
                                        label: 'Carbon',
                                        backgroundColor: '#6fae3f',
                                        data: data.data
                                      }]
                                    },
                                    options: {
                                      responsive: true,
                                      legend: {
                                        position: 'top',
                                      },
                                      title: {
                                        display: true,
                                        text: 'My Point Chart'
                                      }
                                    }
                                  });

                                }
                              });

                            });
                            </script>
                    </div>
                </div>
             </div>

        </div>

        <div class="col-xl-5 col-lg-4">
            <div id="wrapper">
                <div id="content-wrapper" class="d-flex flex-column">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary text-success">My Point</h6>
                        </div>
                        <div class="card-body">
                            <div class="text-center table-responsive">
                                <table id="table_user" class="cell-border" style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th>타입</th>
                                            <th>포인트</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>탄소포인트</th>
                                            <th>{{ sumcarbonpoint }}</th>
                                        </tr>
                                        <tr>
                                            <th>그린포인트</th>
                                            <th>{{ sumgreenpoint }}</th>
                                        </tr>
                                        <tr>
                                            <th>자동차탄소포인트</th>
                                            <th>{{ sumcarpoint }}</th>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <!--datatable-->
                            <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
                            <script type='text/javascript'>
                                $(document).ready(function() {
                                    $('#table_user').DataTable({
                                        order:[],
                                        searching: false,
                                        info: false,
                                        paging: false,
                                        scrollX: false,
                                        columnDefs: [
                                        { targets: 0, width: 250 }
                                        ]
                                    });
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<!--mychart 차트-->
<!--mypoint 테이블-->
{% endblock %}